@font-face {
  font-family: "LLAkkuratWeb-Bold";
  src: url("/fonts/lineto-akkurat-bold-s-da650f3e5d121ff3584d6d7df703def6.eot");
  src: url("/fonts/lineto-akkurat-bold-s.eot#iefix") format("embedded-opentype"), url("/fonts/lineto-akkurat-bold-s-8f4ce91e6264ca77230354a0845be553.woff") format("woff"), url("/fonts/lineto-akkurat-bold-s-7b5d084534971febd769e95ead265792.ttf") format("truetype"), url("/fonts/lineto-akkurat-bold-s.svg#LLAkkuratWeb-Bold") format("svg");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: "LLAkkuratWeb-Italic";
  src: url("/fonts/lineto-akkurat-italic-s-9ebac37c6822c54672623aed60390877.eot");
  src: url("/fonts/lineto-akkurat-italic-s.eot#iefix") format("embedded-opentype"), url("/fonts/lineto-akkurat-italic-s-6fb98b3a904e84e7263caa3bf8025f8c.woff") format("woff"), url("/fonts/lineto-akkurat-italic-s-434e19f88099658f499dbee8d1970548.ttf") format("truetype"), url("/fonts/lineto-akkurat-italic-s.svg#LLAkkuratWeb-Italic") format("svg");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: "LLAkkuratWeb-Light";
  src: url("/fonts/lineto-akkurat-light-s-202faa735255e2d3b2d6f740c265f0da.eot");
  src: url("/fonts/lineto-akkurat-light-s.eot#iefix") format("embedded-opentype"), url("/fonts/lineto-akkurat-light-s-60ec22fd8f6ae55d09ba61be82d581c0.woff") format("woff"), url("/fonts/lineto-akkurat-light-s-a0c0731e0942345305d19de3cf08e1ab.ttf") format("truetype"), url("/fonts/lineto-akkurat-light-s.svg#LLAkkuratWeb-Light") format("svg");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: "LLAkkuratWeb-Regular";
  src: url("/fonts/lineto-akkurat-regular-s-f5a56f4dcccbbb2ffe37313aa0d0cc7a.eot");
  src: url("/fonts/lineto-akkurat-regular-s.eot#iefix") format("embedded-opentype"), url("/fonts/lineto-akkurat-regular-s-31392b316fb064a216f2712a77cb26b1.woff") format("woff"), url("/fonts/lineto-akkurat-regular-s-c7a2abb9c5e4fe66bd68bcaebb3da255.ttf") format("truetype"), url("/fonts/lineto-akkurat-regular-s.svg#LLAkkuratWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal
}