<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= partial "layouts/favicons" %>
  <title>七巧 </title>
  <%= stylesheet_link_tag :home %>
</head>
<body>
  <div class="header">
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
    <hr>
    <ul class="footer-links">
      <li><a href="https://7qiao.cn" target="_blank" title="">七巧</a></li>
      <li><a href="https://github.com/QiQiaoTechnologies" target="_blank" title="">GitHub</a></li>
    </ul>
  </div>
</body>
</html>