---
layout: home
---

<div class="center-big">七巧云 API 开发文档</div>
<div class="blocks">
  <a href="/ipfs.html" title="IPFS API" class="block block-b">
    <h3>IPFS 文档 API</h3>
    <p class="block-description">
    使用我们的专有API上传文件，固定哈希，并发送pubsub消息，或者使用 IPFS HTTP API 反向代理服务来使用我们的IPFS节点。
    </p>
  </a>
  <a href="/ipns.html" title="IPNS API" class="block block-a">
    <h3>IPNS 域名 API</h3>
    <p class="block-description">    
    管理IPNS记录，利用IPNS命名空间创建可更改内容的区块链链接。
    </p>
  </a>
  <a href="/lens.html" title="Lens API" class="block block-b">
    <h3>Lens 搜索 API</h3>
    <p class="block-description">
    通过Lens进行搜索，Lens是我们专门为七巧云提供的IPFS搜索引擎，只搜索选择加入的文件。
    </p>
  </a>
  <a href="/account.html" title="Account API" class="block block-a">
    <h3>帐户 API</h3>
    <p class="block-description">
    帐户创建，密钥管理和密码更改功能。
    </p>
  </a>
  <a href="/database.html" title="Database API" class="block block-b">
    <h3>数据库 API</h3>
    <p class="block-description">
    获取有关您通过七巧云上传到IPFS的数据的信息
    </p>
  </a>
  <a href="/payment.html" title="Payment API" class="block block-a">
    <h3>Payment API</h3>
    <p class="block-description">Calculate the  the cost of uploading a file or pinning a hash, and purchase credits using cryptocurrency or Stripe</p>
  </a>
</div>